/* GENERICS */
body {
    font-family: 'Figtree', sans-serif;
    font-weight: 700;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.box {
    height: 10rem;
    width: 10rem;
    background-color: aliceblue;
}

.ta-center {
    text-align: center;
}

.ai-center {
    display: flex;
    align-items: center;
}

/* SIDE BAR */
#side-bar {
    width: 15rem;
    height: calc(100vh - 5rem);
    display: flex;
    flex-direction: column;
    padding: .5rem;
    font-size: .8rem;
    overflow: auto;
    background-color: #000000;
    color: #a3a3a3;
}

#side-bar .logo {
    width: 70%;
}

#side-bar .logo-hide {
    display: none;
}


/* home */
#side-bar .home img {
    width: 1.5rem;
}

#side-bar .home .ai-center {
    gap: .5rem;
    margin-bottom: 1rem;
}

#side-bar h2 {
    font-size: 1rem;
    color: white;
}

/* playlist */

.playlist h2 {
    margin-bottom: .5rem;
}

.playlist i {
    font-size: 2.5rem;
}

.playlist>div {
    margin-bottom: 1rem;
}

/* user */

.user {
    margin-top: auto;
}

.user img {
    width: 1rem;
}

.user .bg-gray {
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    background-color: #a3a3a3;
}

.user .line {
    width: 100%;
    background-color: gray;
    height: 1px;
}

/* MAIN  */

main header {
    height: 4rem;
    width: calc(100% - 15rem);
    position: fixed;
    background-color: #000000aa;
    color: white;
}


.btn {
    border-radius: 20px;
    border: 1px solid white;
    padding: .7rem 2.5rem;
    font-size: .8rem;
    margin-right: .2rem;
}

main {
    width: calc(100% - 15rem);
    height: calc(100vh - 5rem);
    /* DEBUG */
    background-color: #141922;
    overflow: auto;
}

main ul {
    gap: 1rem;
    flex-wrap: wrap;
}

main ul a {
    font-size: .8rem;
    color: #a3a3a3;
}

.main-content {
    padding-top: 5rem;
}


/* Recently section */
.recently h4 {
    font-size: .8rem;
    color: #a3a3a3;
}

.recently h3 {
    font-size: 1rem;
}

.recently {
    font-size: 1.3rem;
    color: white;
}

/* Personal create */

.personal-create h2 {
    font-size: 1.3rem;
    color: white;
}

.personal-create p {
    font-size: .8rem;
    color: #a3a3a3;
}

.personal-create h3 {
    color: white;
}


/* POPULAR */
.popular .box {
    border-radius: 50%;
}

.popular h2 {
    font-size: 1.3rem;
    color: white;
}

.popular h3 {
    color: white;
}

.popular img {
    border-radius: 50%;
}

.popular p {
    font-size: .8rem;
    color: #a3a3a3;
}

/* FOOTER */
footer {
    height: 5rem;
    width: 100%;
    margin-top: auto;

    /* DEBUG */
    background-color: aqua;
}

.controls {
    justify-content: center;
}


.center-foot {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left-foot {
    align-items: center;
}

.right-foot {
    align-items: center;
    gap: 1rem;
}

/* MEDIA QUERIES */


/* MEDIUM */
@media screen and (max-width: 600px) {

    /* footer */
    footer .icons {
        flex-direction: column;
    }

}

/* EXTRA SMALL */
@media screen and (max-width: 480px) {

    /* SIDE-BAR */
    .playlist {
        display: none;
    }

    #side-bar {
        width: 3rem;
        align-items: center;
    }

    .user span {
        display: none;
    }

    .home span {
        display: none;
    }

    #side-bar .logo {
        display: none;
    }

    #side-bar .logo-hide {
        display: block;
        width: 2rem;
    }

    #side-bar h2,
    .user .line {
        display: none;
    }


    /* MAIN */
    main,
    main header {
        width: calc(100% - 3rem);
    }
}